<h2>Light Controls</h2>
<div class="row form-group">
	<label for="light-id" class="col-sm-2 col-form-label">Light ID</label>
	<div class="col-sm-2">
		<input type="text" class="form-control" id="light-id" name="light-id" value="1"/>
	</div>
</div>
<div class="row form-group">
	<label for="chk-status" class="col-sm-2 col-form-label">Status</label>
	<div class="col-sm-2">
		<label class="switch">
		  <input type="checkbox" id="chk-status" name="chk-status"/>
		  <span class="switch-slider round"></span>
		</label>
	</div>
</div>
<div class="row form-group">
	<label for="range-sat" class="col-sm-2 col-form-label">Saturation</label>
	<div class="col-sm-8">
		<div class="slider-bar-container mt-1">
		  <input type="range" min="0" max="254" value="0" class="slider-bar" id="range-sat" name="range-sat" disabled>
		  <span id="range-sat-value" class="small range-value disabled">0</span>
		</div>
	</div>
</div>
<div class="row form-group">
	<label for="range-bri" class="col-sm-2 col-form-label">Brightness</label>
	<div class="col-sm-8">
		<div class="slider-bar-container mt-1">
		  <input type="range" min="0" max="254" value="0" class="slider-bar" id="range-bri" name="range-bri" disabled>
		  <span id="range-bri-value" class="small range-value disabled">0</span>
		</div>
	</div>
</div>
<div class="row form-group">
	<label for="range-hue" class="col-sm-2 col-form-label">Hue</label>
	<div class="col-sm-8">
		<div class="slider-bar-container mt-1">
		  <input type="range" min="0" max="10000" value="0" class="slider-bar" id="range-hue" name="range-hue" disabled>
		  <span id="range-hue-value" class="small range-value disabled">0</span>
		</div>
	</div>
</div>
<button id="test" class="btn btn-primary">Test Now !</button>