<div class="row d-flex align-content-center justify-content-center mt-5">
	<div class="col-sm-12">
		<div class="form-group">
			<label name="Status">Status</label>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="status" id="status-true" value="true">
			  <label class="form-check-label" for="status-true">
			    On
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="status" id="status-false" value="false">
			  <label class="form-check-label" for="status-false">
			    Off
			  </label>
			</div>
		</div>
<!-- 
		<label name="Brightness" for="myRange">Brightness</label>
		<div class="slidecontainer">
		  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div> -->
		<button id="test" class="btn btn-primary">Test Now !</button>
	</div>
</div>

<script type="text/javascript">
	$('#test').click(function () {
		var status = $('input[name="status"]:checked').val();

		$.ajax({
		  type: 'get',
		  url: '/test',
		  data: 'status=' + status,
		  success: function (data, textStatus, jqXHR) {
		  },
		});

		// var datas = {
		// 	on: ($('input[name="status"]:checked').val() == 'true'),
		// }

		// $.ajax({
		//   type: 'put',
		//   url: 'http://192.168.0.101/api/zoG5NHui7WTIgaJQUkEDl51Rl1xTqYHhyy8wtKVV/lights/1/state',
  //     contentType: 'application/json',
		//   data: JSON.stringify(datas),
		//   success: function (data, textStatus, jqXHR) {
		//   	// $('#result').text(data);
		//   	console.log(data);
		//   },
		// });
	});
</script>